<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <div style="width: 3%"></div>
			<a class="btn btn-success col-2 shadow" href="/listar/">Back</a>
			<div class="col-7"></div>
    <header for="agregar Articulo" class="col-sm-12 font-size col-form-label text-center"><h1>Agregar Articulo</h1></header>
</head>
<body>

    <nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed fixed-top">
        <div class="container">
    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listar">Listar Articulos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Listar Movimientos</a>
			  </li>
			  <li class="nav-item">
                <a class="nav-link" href="/api/familias">Listar Familias</a>
                <li class="nav-item"></li>
            </ul>
          </div>
        </div>
    
      </nav>

	<div class="container">
		<div class="card">
			<div class="card-header bg-secondary text-light">
				<h2 th:text="${titulo}"></h2>
			</div>
			<div class="card-body bg-light">
				<form th:action="@{/form}" th:object="${}" th:method="post">

					<div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">idMovimiento:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{}"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors()}" th:errors="*{}"></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">ArticuloID:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors()}" th:errors="*{}"></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">Fecha:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors()}" th:errors="*{}"></label>
						</div>
                    </div>
                    
                    <div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">Tipo:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{}"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors()}" th:errors="*{}"></label>
						</div>
                    </div>
                    
                    <div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">Cantidad:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{}"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors('')}" th:errors="*{}"></label>
						</div>
                    </div>
                    
                    <div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">Importe:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{}"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors('')}" th:errors="*{}"></label>
						</div>
                    </div>
                    
                    <div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">Aplicacion:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{}"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors('')}" th:errors="*{}"></label>
						</div>
                    </div>
                    
                    <div class="form-group row">
						<div class="col-sm-1"></div>
						<label for="" class="col-sm-2 col-form-label">Referencia:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{}"
								th:errorclass="'form-control alert-danger'" /> <label
								class="form-text text-danger"
								th:if="${#fields.hasErrors('')}" th:errors="*{}"></label>
						</div>
                    </div>

					<div class="form-goup row">
						<div class="col-sm-1"></div>
						<div class="col-sm-6">
							<input type="submit" value="Guardar Movimiento"
								class="btn btn-success" />
						</div>
					</div>

				</form>
			</div>
		</div>

